# Importing Libraries

In [2]:
#importing required libraries

import pandas as pd
import json
import io
from pandas import json_normalize
from sqlalchemy import create_engine


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

# Load Data & Converting JSON to Dataframe

In [3]:
#users json

user_data=[]
user_file = open("users.json",'r')
for line in user_file:
    json_user_data = json.loads(line)
    user_data.append(json_user_data)

user_df = pd.json_normalize(user_data)
user_df.rename(columns={'_id.$oid':'userId', "createdDate.$date":'createdDate',
                        "lastLogin.$date":"lastLogin"},inplace=True)

user_df = user_df[['userId'] + [col for col in user_df.columns if col != 'userId']]

#date formats
date_cols = ['createdDate', 'lastLogin']

for col in date_cols :
    user_df[col] = pd.to_datetime(user_df[col], unit='ms')



print(user_df.shape)
display(user_df.head(5))

(495, 7)

,userId,active,role,signUpSource,state,createdDate,lastLogin
0,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872
1,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872
2,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872
3,5ff1e1eacfcf6c399c274ae6,True,consumer,Email,WI,2021-01-03 15:25:30.554,2021-01-03 15:25:30.596999936
4,5ff1e194b6a9d73a3a9f1052,True,consumer,Email,WI,2021-01-03 15:24:04.800,2021-01-03 15:25:37.857999872

In [4]:
#brands json

brand_data=[]
brand_file = open("brands.json",'r')
for line in brand_file:
    json_brand_data = json.loads(line)
    brand_data.append(json_brand_data)

brand_df = pd.json_normalize(brand_data)
brand_df.rename(columns={'_id.$oid':'brandId',"cpg.$id.$oid":"cpgId","cpg.$ref":"cpg_ref"},inplace=True)

brand_df = brand_df[['brandId'] + [col for col in brand_df.columns if col != 'brandId']]



print(brand_df.shape)
display(brand_df.head(5))

(1167, 9)

,brandId,barcode,category,categoryCode,name,topBrand,cpgId,cpg_ref,brandCode
0,601ac115be37ce2ead437551,511111019862,Baking,BAKING,test brand @1612366101024,False,601ac114be37ce2ead437550,Cogs,NaN
1,601c5460be37ce2ead43755f,511111519928,Beverages,BEVERAGES,Starbucks,False,5332f5fbe4b03c9a25efd0ba,Cogs,STARBUCKS
2,601ac142be37ce2ead43755d,511111819905,Baking,BAKING,test brand @1612366146176,False,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146176
3,601ac142be37ce2ead43755a,511111519874,Baking,BAKING,test brand @1612366146051,False,601ac142be37ce2ead437559,Cogs,TEST BRANDCODE @1612366146051
4,601ac142be37ce2ead43755e,511111319917,Candy & Sweets,CANDY_AND_SWEETS,test brand @1612366146827,False,5332fa12e4b03c9a25efd1e7,Cogs,TEST BRANDCODE @1612366146827

In [5]:
 #receipts json

receipt_data=[]
receipt_file = open("receipts.json",'r')
for line in receipt_file:
    json_receipt_data = json.loads(line)
    receipt_data.append(json_receipt_data)

receipt_df = pd.json_normalize(receipt_data)
receipt_df.rename(columns={'_id.$oid':'receiptId',"createDate.$date":'createDate',
                          "dateScanned.$date":'dateScanned', 'finishedDate.$date':'finishedDate',
                          'modifyDate.$date':'modifyDate','pointsAwardedDate.$date':'pointsAwardedDate',
                          'purchaseDate.$date':'purchaseDate'},inplace=True)

receipt_df = receipt_df[['receiptId'] + [col for col in receipt_df.columns if col != 'receiptId']]

#date formats
date_cols = ['createDate', 'dateScanned', 'finishedDate', 'modifyDate', 'pointsAwardedDate', 'purchaseDate']

for col in date_cols :
    receipt_df[col] = pd.to_datetime(receipt_df[col], unit='ms')

print(receipt_df.shape)
display(receipt_df.head(5))

(1119, 15)

,receiptId,bonusPointsEarned,bonusPointsEarnedReason,pointsEarned,purchasedItemCount,rewardsReceiptItemList,rewardsReceiptStatus,totalSpent,userId,createDate,dateScanned,finishedDate,modifyDate,pointsAwardedDate,purchaseDate
0,5ff1e1eb0a720f0523000575,500.0,"Receipt number 2 completed, bonus point schedu...",500.0,5.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,26.00,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:31,2021-01-03 15:25:36,2021-01-03 15:25:31,2021-01-03 00:00:00
1,5ff1e1bb0a720f052300056b,150.0,"Receipt number 5 completed, bonus point schedu...",150.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,11.00,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:43,2021-01-03 15:24:48,2021-01-03 15:24:43,2021-01-02 15:24:43
2,5ff1e1f10a720f052300057a,5.0,All-receipts receipt bonus,5,1.0,"[{'needsFetchReview': False, 'partnerItemId': ...",REJECTED,10.00,5ff1e1f1cfcf6c399c274b0b,2021-01-03 15:25:37,2021-01-03 15:25:37,NaT,2021-01-03 15:25:42,NaT,2021-01-03 00:00:00
3,5ff1e1ee0a7214ada100056f,5.0,All-receipts receipt bonus,5.0,4.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,28.00,5ff1e1eacfcf6c399c274ae6,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:34,2021-01-03 15:25:39,2021-01-03 15:25:34,2021-01-03 00:00:00
4,5ff1e1d20a7214ada1000561,5.0,All-receipts receipt bonus,5.0,2.0,"[{'barcode': '4011', 'description': 'ITEM NOT ...",FINISHED,1.00,5ff1e194b6a9d73a3a9f1052,2021-01-03 15:25:06,2021-01-03 15:25:06,2021-01-03 15:25:11,2021-01-03 15:25:11,2021-01-03 15:25:06,2021-01-02 15:25:06

In [6]:
rewards_list_df = receipt_df[['receiptId','rewardsReceiptItemList']]
rewards_list_df['rewardsReceiptItemList'].fillna(value=pd.Series([[]]*len(rewards_list_df)), inplace=True)

normalized_data = []
for idx, row in rewards_list_df.iterrows():
    id_value = row['receiptId']
    rewards_list = row['rewardsReceiptItemList']
    if rewards_list:  # Check if rewards_list is not empty
        normalized = json_normalize(rewards_list)
        normalized['receiptId'] = id_value
        normalized_data.append(normalized)

rewards_item_list_df = pd.concat(normalized_data, ignore_index=True)
rewards_item_list_df = rewards_item_list_df[['receiptId'] + 
                                            [col for col in rewards_item_list_df.columns if col != 'receiptId']]

receipt_df.drop(columns = ['rewardsReceiptItemList'], inplace = True)
print(rewards_item_list_df.shape)
display(rewards_item_list_df.head(5))

/Users/raghavgoel/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

(6941, 35)

,receiptId,barcode,description,finalPrice,itemPrice,needsFetchReview,partnerItemId,preventTargetGapPoints,quantityPurchased,userFlaggedBarcode,userFlaggedNewItem,userFlaggedPrice,userFlaggedQuantity,needsFetchReviewReason,pointsNotAwardedReason,pointsPayerId,rewardsGroup,rewardsProductPartnerId,userFlaggedDescription,originalMetaBriteBarcode,originalMetaBriteDescription,brandCode,competitorRewardsGroup,discountedItemPrice,originalReceiptItemText,itemNumber,originalMetaBriteQuantityPurchased,pointsEarned,targetPrice,competitiveProduct,originalFinalPrice,originalMetaBriteItemPrice,deleted,priceAfterCoupon,metabriteCampaignId
0,5ff1e1eb0a720f0523000575,4011,ITEM NOT FOUND,26.00,26.00,False,1,True,5.0,4011,True,26.00,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,5ff1e1bb0a720f052300056b,4011,ITEM NOT FOUND,1,1,NaN,1,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5ff1e1bb0a720f052300056b,028400642255,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,10.00,10.00,True,2,True,1.0,028400642255,True,10.00,1.0,USER_FLAGGED,Action not allowed for user and CPG,5332f5fbe4b03c9a25efd0ba,DORITOS SPICY SWEET CHILI SINGLE SERVE,5332f5fbe4b03c9a25efd0ba,DORITOS TORTILLA CHIP SPICY SWEET CHILI REDUCE...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5ff1e1f10a720f052300057a,NaN,NaN,NaN,NaN,False,1,True,NaN,4011,True,26.00,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5ff1e1ee0a7214ada100056f,4011,ITEM NOT FOUND,28.00,28.00,False,1,True,4.0,4011,True,28.00,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Exploratory Analysis

In [33]:
# #duplicate records
# print("--------Users--------")
# print(user_df.shape)
# test_user_df = user_df.drop_duplicates()
# print(test_user_df.shape)

# print("--------Brand--------")
# print(brand_df.shape)
# test_brand_df = brand_df.drop_duplicates()
# print(test_brand_df.shape)

# print("--------Receipt--------")
# print(receipt_df.shape)
# test_receipt_df = receipt_df.drop_duplicates()
# print(test_receipt_df.shape)

# print("--------Rewards List--------")
# print(rewards_item_list_df.shape)
# test_rewards_df = rewards_item_list_df.drop_duplicates()
# print(test_rewards_df.shape)

In [34]:
# #null values
# print("--------Users--------")
# print(test_user_df.isnull().sum()) #using the user data without duplicates

# print("--------Brand--------")
# print(brand_df.isnull().sum())

# print("--------Receipt--------")
# print(receipt_df.isnull().sum())

# print("--------Rewards List--------")
# print(rewards_item_list_df.isnull().sum())

# Exporting to PostgreSQL

In [19]:
engine = create_engine('postgresql+psycopg2://<postgresusername>:<password>@localhost:5432/<databasename>')
user_df.to_sql('users', engine, if_exists='replace', index=False)
brand_df.to_sql('brand', engine, if_exists='replace', index=False)
receipt_df.to_sql('receipt', engine, if_exists='replace', index=False)
rewards_item_list_df.to_sql('rewardsitemlist', engine, if_exists='replace', index=False)